.card {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;

    img {
        width: 395px;
        height: 269px;
        border-radius: 24px;
    }

    &-info {
        display: flex;
        align-items: baseline;

        .super {
            font-weight: bold;
            text-transform: uppercase;
            border: 1px solid #4f4f4f;
            width: fit-content;
            padding: 3px 8px;
            margin-top: 10px;
            margin-right: 10px;
            border-radius: 15px;
        }

        .card-type,
        .no-super {
            color: #828282;
            font-size: 14px;
        }

        .no-super {
            margin-top: 13px;
        }

        .rating {
            color: #4f4f4f;
            margin-left: auto;
            display: flex;
            align-items: baseline;
            position: relative;

            svg {
                position: absolute;
                right: 25px;
                top: 1.5px;
            }
        }
    }
    .card-title {
        margin-top: 15px;
    }
}
